@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-text: "Inter", "sans-serif";

    --cor-primaria: #0A3871;
    --cor-secundaria: #ffffff;
    --cor-terciaria:#D8DFE8;
    --cor-4: #F3F5FC;

    --cor-texto-1:#343A40;
    --cor-texto-2:#495057;
}

body {
    background-color: var(--cor-4);
    font-family: var(--font-family-text)
}

header {
    padding: 0px 16px;
}

header h1 {
    color: var(--cor-primaria);
    margin-left: 13%;
}

.conteudos {
    display: flex;
    justify-content: center;
    gap: 80px;

    padding-top: 32px;
}

.conteudos .conteudo_entrada {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 128px;
}

.conteudos .conteudo_entrada #texto_entrada {
    width: 100%;
    height: 45px;
    background-color: var(--cor-4);
}

.text_area {
    color: var(--cor-primaria);
    border: none;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    width: 100%;
    resize: none;
}

.text_area:focus {
    outline: none !important;
}

.conteudos .conteudo_entrada .texto_informativo {
    width: 100%;
    height: 18px;
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: var(--cor-texto-2);
}

.conteudos .conteudo_entrada .texto_informativo img {
    width: 16px;
    height: 16px;
}

.conteudos .conteudo_entrada .grupo_botoes {
    width: 680px;
    height: 67px;
    display: flex;
    gap: 24px;
}

.botao {
    width: 328px;
    height: 67px;
    border: none;
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;

    border: 1px solid var(--cor-primaria);
}

.botao_primario {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.botao_secundario {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.conteudos .conteudo_saida {
    width: 400px;
    height: 90vh;
    padding: 16px;
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--cor-secundaria);
    box-shadow: 5px 24px 32px 0px hsla(0, 0%, 0%, 0.082);
}

.conteudos  #conteudo_1 {
    justify-content: center;
}

.conteudos #conteudo_2 {
    justify-content: space-between;
    display: none;
}

.conteudos #conteudo_2 #texto_saida {
    background-color: var(--cor-secundaria);
    height: 100%;
    margin-bottom: 16px;
}

.conteudos .conteudo_saida img {
    width: 336px;
    height: 304px;
}

.conteudos .conteudo_saida div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.conteudos .conteudo_saida h2 {
    color: var(--cor-texto-1);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.conteudos .conteudo_saida p {
    color: var(--cor-texto-2);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-align: center;
    padding: 12px;
    margin-top: 32px;
}

footer a {
    color: var(--cor-secundaria);
}
