* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #0A3871;
    --cor-secundaria: #ffffff;
    --cor-terciaria:#D8DFE8;
    --cor-4: #F3F5FC;

    --cor-texto-1:#343A40;
    --cor-texto-2:#495057;
}

body {
    background-color: var(--cor-4);
}

header h1 {
    color: var(--cor-primaria);
}

.conteudos {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.conteudos .conteudo_1 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.conteudoss .conteudo_1 textarea {
    width: 680px;
    height: 45px;
}

#myText {
    color: black;
    border: none;
    background-color: var(--cor-4)
}

.conteudos .conteudo_1 .texto_informativo {
    width: 100%;
    height: 18px;
    display: flex;
    gap: 8px;

    margin-bottom: 16px;

    color: var(--cor-texto-2);
}

.conteudos .conteudo_1 .texto_informativo img {
    width: 16px;
    height: 16px;
}

.conteudos .conteudo_1 .grupo_botoes {
    width: 680px;
    height: 67px;
    display: flex;
    gap: 24px;
}

.botao {
    width: 328px;
    height: 67px;
    border: none;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid var(--cor-primaria);
}

.botao_primario {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.botao_secundario {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.conteudos .conteudo_2 {
    width: 400px;
    height: 90vh;
    padding: 16px;
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--cor-secundaria);
   box-shadow: 5px 24px 32px 0px hsla(0, 0%, 0%, 0.082);
}

.conteudos .conteudo_2 img {
    width: 336px;
    height: 304px;
}

.conteudos .conteudo_2 div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.conteudos .conteudo_2 h2 {
    color: var(--cor-texto-1);
}

.conteudos .conteudo_2 p {
    color: var(--cor-texto-2);
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

footer a {
    color: var(--cor-secundaria);
}
